body{
  background: linear-gradient(#1B1F32,#2D446C);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;
}
h1{
  text-align: center;
  margin:0;
  font-family: Battambang;
  color:blanchedalmond;
  padding-top:100px;
}
#calculator{
  width:20%;
  margin:auto;
  padding: 30px 30px;
  border:3px solid aliceblue;
  border-radius:20px;
  margin-top: 20px;
  background: linear-gradient(#222222,#1A1A1A);
}
#panel{
  background: linear-gradient(#2C3E50,#4CA1AF);
  width:auto;
  height:80px;
  border:2px solid beige;
  display:flex;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-direction: column;
  text-align: end;
  justify-content: space-between;
}
#calcs{
padding-top: 10px;
padding-right: 10px;
  font-size: 1.2em;
  font-family: Revalia  ;
  color:linen;
}
#display{
  padding-right:10px;
  font-size: 1.5em;
  font-family:Revalia;
  color:white;
}
#clickables{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap:5px;
}
.grid-col-span-2{
  grid-column: span 2;
}
.grid-row-span-2{
  grid-row:span 2;
}
.butt{
  border-radius: 13px;
  min-height:60px;
  min-width:70px;
  background:linear-gradient(#5B1725,#2F1107);
 
  box-shadow: 3px 3px 3px  wheat;
  display: flex;
  font-family: Roboto Mono;
  color:antiquewhite;
  align-items: center;
  justify-content: center;
}
.butt:active{
  background:linear-gradient(#5b17257e,#2f110782);
  transform: scale(0.95);
}